---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/jeep.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/jeep.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/jeep.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>

    </section>

<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1083">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Services</span>
            <h2 class="cs-title">Expert Auto Repair Services In Tulsa, OK</h2>
            <!-- <p class="cs-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
            </p> -->
        </div>
        <ul class="cs-card-group">
            
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mech1.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mech1.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mech1.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/oil-bottle.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Oil Change Service
                </h3>
                <p class="cs-item-text">
                    Routine oil changes are key to your vehicle’s health. Expert Customs performs oil changes, oil filter replacement, fluid top-offs, and other services with our oil change packages.
                </p>
                <ul class="cs-list">
                    <li>Air & Oil Filters</li>
                    <li>Oil filter replacement</li>
                    <li>Fluid top-off for essential fluids</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579">
                    <img loading="lazy" decoding="async" src="https://ik.imagekit.io/6ycdefzj5/workingonmotor.jpg?updatedAt=1740498389579" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/exhaust.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Exhaust & Catalytic Converters
                </h3>
                <p class="cs-item-text">
                    Whatever the maintenance needs of your exhaust & muffler system or catalytic converter, Expert Customs can provide it.
                </p>
                <ul class="cs-list">
                    <li>Custom Exhaust System</li>
                    <li>Catalytic Converters</li>
                    <li>Performace Exhaust</li>
                    <li>Emissions Repair</li>
                    <li>Exhaust & Muffler Repair</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/brakes.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/brakes.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/brakes.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/brakes.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Brakes
                </h3>
                <p class="cs-item-text">
                    Brake maintenance is imperative for keeping your vehicle safe. Expert Customs inspects and services brakes, ABS brakes, and more.
                </p>
                <ul class="cs-list">
                    <li>ABS Brakes</li>
                    <li>Brakes</li>
                    <li>Oil, Anti-Freeze & Brake Fluids</li>
                    
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/wheels.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/wheels.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/wheels.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/steering-wheel.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Tires & Wheels
                </h3>
                <p class="cs-item-text">
                    Expert Customs provides a full lineup of tire and wheel services ranging from tire repair to wheel alignment and balancing.
                </p>
                <ul class="cs-list">
                    <li>Car Tires</li>
                    <li>SUV & Truck Tires</li>
                    <li>Tire Repair</li>
                    <li>Tire Rotation & Replacement</li>
                    <li>Wheel Alignemnt</li>
                    <li>Wheel Bearings</li>
                    <li>Wheel Balancing</li>
                    <li>Performance Tires</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/battery.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/battery.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/battery.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/battery.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Batteries
                </h3>
                <p class="cs-item-text">
                    Car battery checks with every oil change can help keep your vehicle properly powered.
                </p>
                <ul class="cs-list">
                    <li>Alternator Repair</li>
                    <li>Stater Repair</li>
                    <li>Car Batteries</li>
                   
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/carac.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/carac.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/carac.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/ac.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Air Conditioning
                </h3>
                <p class="cs-item-text">
                    Keep your car cool and increase your gas mileage with regular AC checks.
                </p>
                <ul class="cs-list">
                    <li>AC Condensors & Evaporators </li>
                    <li>Air Conditioning Service</li>
                   
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/transmission.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/transmission.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/transmission.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/transmission.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    CV Joints & Driveshafts
                </h3>
                <p class="cs-item-text">
                    Routinely serviced CV joints keep your ride smooth and wheels turning.
                </p>
                <ul class="cs-list">
                    <li>Axle Repair</li>
                    <li>Clutch Repair</li>
                    <li>4 Wheel Drive Service</li>
                    <li>CV Joints & Drivehafts</li>
                    <li>Universal Joints</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/speedometer.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/speedometer.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/speedometer.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/spring.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Springs
                </h3>
                <p class="cs-item-text">
                    Our team can furnish a number of services for your vehicle’s springs, including suspension lowering.
                </p>
                <ul class="cs-list">
                    <li>Suspension Lowering</li>
                    <li>Coil Spring Suspension</li>
                    <li>Rack & Pinion Steering System</li>
                    <li>Strut & Schock Absorbers</li>
                    <li>Power Steering and Chassis</li>
                    <li>Steering & Suspension</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/repair.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/repair.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/repair.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/vehicle.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Auto Repair Services
                </h3>
                <p class="cs-item-text">
                    Expert Customs provides a range of services for preventative auto maintenance or emergency repair work.
                </p>
                <ul class="cs-list">
                    <li>Auto Tune Up Service</li>
                    <li>Car Diagnosis Test</li>
                    <li>Timing Belts & Chains</li>
                    <li>Serpentine Belt Replacement</li>
                    <li>Car Engine Repair</li>
                    <li>Transmission Repair Service</li>
                    <li>Car Electrical System</li>
                    <li>Fuel Pump Replacement</li>
                    <li>Cooling System Service</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mech3.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mech3.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mech3.jpg" alt="mechanic" width="413" height="240" aria-hidden="true">
                </picture>
                <h3 class="cs-h3">
                    <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/engine.svg" alt="icon" width="32" height="32" aria-hidden="true">
                    Miscellaneous Services
                </h3>
                <p class="cs-item-text">
                    Our team is passionate about providing a range of vehicle services for our customers.
                </p>
                <ul class="cs-list">
                    <li>Windshield Wipers</li>
                    <li>Power Window Repair</li>
                    <li>Headlight Replacement</li>
                    <li>Fuel Injector Cleaning</li>
                    <li>Chrome Accessories Installation</li>
                    <li>Fuel Injector Service</li>
                    <li>Cold Air Intake Systems</li>
                    <li>Water Pump Repair & Service</li>
                    <li>Front End Replacement</li>
                    <li>Radiator Repair & Service</li>
                    
                </ul>
                <!--<a href="" class="cs-link">
                    Read More
                    <img class="cs-arrow" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow.svg" alt="icon" width="20" height="20" aria-hidden="true">
                </a>-->
            </li>
        </ul>
    </div>
</section>

                                
                                
    {% include 'components/cta.html' %}

{% endblock %}