---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}


<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-1059">
    <div class="cs-container">
        <div class="cs-content">
            <h1 class="cs-title">Custom Builds. Expert Craftsmanship. Tulsa’s #1 Custom Auto Shop.</h1>
            <p class="cs-text">
                Whether you need a custom build, restoration, or performance upgrade, we bring your vision to life with precision and passion.
            </p>
            <a href="/contact" class="cs-button-solid">Request Appointment</a>
        </div>
    </div>

    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic-m.jpg">
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic.jpg">
        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic.jpg" alt="mechanic" width="2250" height="1500" aria-hidden="true">
    </picture>
</section>
<a href="https://bk.snapfinance.com/origination?paramId=3w%2FEWVFzVGcQioSdKn1vuqdr2hNr3A1xiMt4CtG%2BqOUYuAV0du2Z%2FK2lEkK1hZ0tog9ZSjNG2GyQln5HQrzShOzYiaK%2FnFnEZXfXtyBXVEw%3D" target="_blank" rel="noopener noreferrer"><img src="https://assets.snapfinance.com/app/images/apply_image_16.jpeg" alt="Snap Finance - Apply Here" style = "box-shadow:4px 2px 6px #010101; border: none"/></a>                     
                                                                                               

<!-- ============================================ -->
<!--                Side By Side                  -->
<!-- ============================================ -->

<section id="sbs-1161">
    <div class="cs-container">
        <div class="cs-image-group">
            <!--Top left image-->
            <picture class="cs-picture cs-picture1">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic25.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic25.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic25.jpg" alt="appliance" width="630" height="390">
            </picture>
            <!--Bottom right image-->
            <picture class="cs-picture cs-picture2">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic26.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic26.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic26.jpg" alt="appliance" width="461" height="300">
            </picture>
            <!--Splash Graphic-->
            <img class="cs-graphic cs-graphic1" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/splash-4.svg" alt="splash" width="1154" height="505" aria-hidden="true">
            <!--Tire Mark-->
            <img class="cs-graphic cs-graphic2" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/tire-mark.svg" alt="tire mark" width="1085" height="322" aria-hidden="true">
            <div class="cs-box">
                <span class="cs-number">2500+</span>
                <span class="cs-desc">Cars repaired this year</span>
            </div>
        </div>
        <div class="cs-content">
            <span class="cs-topper">About Us</span>
            <h2 class="cs-title">Quality With The Best Standards</h2>
            <p class="cs-text">
                Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. Busto auctor lectus vitae conubia euismod nec rhoncus parturient convallis parturient accumsan volutpat ligula and intege aenean facilisis.
            </p>
            <ul class="cs-ul">
                <li class="cs-li">We handle all makes and models</li>
                <li class="cs-li">We are endorsed by the local trading standards office</li>
                <li class="cs-li">All our technicians are equipped with the latest portable</li>
                <li class="cs-li">Proven results for setting exceptional standards</li>
                <li class="cs-li">Same day service for most repairs</li>
            </ul>
            <a href="/about" class="cs-button-solid">Read More</a>
        </div>
    </div>
</section>
<!-- ============================================ -->
<!--                  Why Choose                  -->
<!-- ============================================ -->

<section id="why-choose-1550">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-truck.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Free Delivery</h2>
                    <p class="cs-item-text">
                        Free shipping on all order
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-headset.svg"
                            alt="icon" width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Online support 24/7</h2>
                    <p class="cs-item-text">
                        Support online 24 hrs/day
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-cash.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Money Return</h2>
                    <p class="cs-item-text">
                        Guarantee under 7 days
                    </p>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-icon-wrapper">
                    <img class="cs-icon" loading="lazy" decoding="async"
                            src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/ecomm-label.svg" alt="icon"
                            width="48" height="48">
                </div>
                <div class="cs-flex">
                    <h2 class="cs-h2">Member Discount</h2>
                    <p class="cs-item-text">
                        On every order over $120.00
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png">
        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/Why%20CHoose%20Us%203.png" alt="texture" width="1920" height="550">
    </picture>
</section>
                                
                                
                                
<!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1168">
    <div class="cs-container">
      <div class="cs-content">
        <span class="cs-topper">Our services</span>
        <h2 class="cs-title">Together We Can Restore</h2>
        <p class="cs-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur hic voluptatem quisquam deserunt temporibus dicta beatae rerum nobis esse similique!
        </p>
      </div>
      <ul class="cs-card-group">
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic30.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic30.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic30.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Tire and wheel</h3>
            <p class="cs-item-text">
              What is Check Engine Light? There are many variations of passages of Lorem Ipsum available, but the majority have...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic33.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic33.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic33.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Electrical system</h3>
            <p class="cs-item-text">
              Our featured services Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic32.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic32.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic32.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">System service</h3>
            <p class="cs-item-text">
              Our services Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic31.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic31.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic31.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Engine diagnostics</h3>
            <p class="cs-item-text">
              What is Check Engine Light? There are many variations of passages of Lorem Ipsum available, but the majority have...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic30.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic30.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic30.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Tire and wheel</h3>
            <p class="cs-item-text">
              What is Check Engine Light? There are many variations of passages of Lorem Ipsum available, but the majority have...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic33.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic33.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic33.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Electrical system</h3>
            <p class="cs-item-text">
              Our featured services Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic32.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic32.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic32.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">System service</h3>
            <p class="cs-item-text">
              Our services Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
        <li class="cs-item">
          <picture class="cs-picture">
            <!--Mobile Image-->
            <source
                  media="(max-width: 600px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic31.jpg">
            <!--Tablet and above Image-->
            <source
                  media="(min-width: 601px)"
                  srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic31.jpg">
            <img
                  loading="lazy"
                  decoding="async"
                  src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic31.jpg"
                  alt="mechanic"
                  width="413"
                  height="240"
                  aria-hidden="true">
          </picture>
          <div class="cs-info">
            <h3 class="cs-h3">Engine diagnostics</h3>
            <p class="cs-item-text">
              What is Check Engine Light? There are many variations of passages of Lorem Ipsum available, but the majority have...
            </p>
            <a href="" class="cs-link">
              Read More
              <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-arrow-right.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true">
            </a>
          </div>
        </li>
      </ul>
    </div>
</section>
<!-- ============================================ -->
<!--                   Pricing                    -->
<!-- ============================================ -->

<section id="pricing-1183">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pricing</span>
            <h2 class="cs-title">Affordable Pricing Plans</h2>
            <p class="cs-text">
                Our professionals will perform diagnostic tests, fluid flush and fills, engine replacement, oil changes, and total vehicle overhauls. Busto auctor lectus vitae conubia euismod nec.
            </p>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <span class="cs-package">Starter</span>
                <span class="cs-price">$49.99</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Medical service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Personal</span>
                <span class="cs-price">$99.99</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Medical service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
            <li class="cs-item">
                <span class="cs-package">Professional</span>
                <span class="cs-price">$99.99</span>
                <ul class="cs-ul">
                    <li class="cs-li">
                        All available starter feature
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Medical service 24/7
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Customer agent service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        Professional Service
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li">
                        2 dedicated experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                    <li class="cs-li cs-disabled">
                        Consultation with a Senior experts
                        <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/mech-check.svg" alt="checkmark" width="18" height="18">
                    </li>
                </ul>
            </li>
        </ul>
        <a href="" class="cs-button-solid">Book Appointment</a>
    </div>
</section>
                                
                                

<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-455">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Portfolio</span>
                <h2 class="cs-title">Our Gallery</h2>
            </div>
            <div class="cs-button-group">
                <!--When adding extra galleries, copy and paste the button and make data-filter equal to four, then five, etc. Do the same for the corresponding gallery and it's data attribute-->
                <button class="cs-button" data-filter="one">
                    Renovations
                </button>
                <button class="cs-button" data-filter="two">
                    Sod
                </button>
                <button class="cs-button" data-filter="three">
                    Fencing
                </button>
            </div>
        </div>
        <!--Gallery 1-->
        <div class="cs-gallery" data-category="one">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery1.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery1.jpg">
                <img loading="lazy" decoding="async" src="hhttps://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery1.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery4.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery4.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechgallery4.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 2-->
        <div class="cs-gallery cs-hidden" data-category="two">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
        <!--Gallery 3-->
        <div class="cs-gallery cs-hidden" data-category="three">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 3-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
            </picture>
            <!--Picture 4-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
            </picture>
        </div>
    </div>
</section>                               
                                
<!-- ============================================ -->
<!--               Meet The Team                  -->
<!-- ============================================ -->

<section id="meet-team-455">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Team</span>
            <h2 class="cs-title">Meet Our Staff</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <a href="" class="cs-button-solid">More About Us</a>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424">
                </picture>
                <h3 class="cs-h3">Wahid Keito</h3>
                <span class="cs-desc">Creative Director</span>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424">
                </picture>
                <h3 class="cs-h3">Claudio Arthur</h3>
                <span class="cs-desc">Creative Director</span>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424">
                </picture>
                <h3 class="cs-h3">Phillip Walker</h3>
                <span class="cs-desc">Creative Director</span>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424">
                </picture>
                <h3 class="cs-h3">Thomas Castro</h3>
                <span class="cs-desc">Creative Director</span>
            </li>
            <!--SVG Ripple-->
            <li class="cs-ripple" aria-hidden="true">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/ripple2.svg" alt="ripple" width="967" height="650">
            </li>
        </ul>
    </div>
</section>
                                                    

   <!-- ============================================ -->
<!--                   Contact                    -->
<!-- ============================================ -->

<section id="contact-1093">
    <div class="cs-container">
        <div class="cs-form-group">
            <!--Form-->
            <form class="cs-form" id="cs-form-1093" name="Contact Form" method="post">
                <div class="cs-form-content">
                    <span class="cs-topper">Contact Us</span>
                    <h2 class="cs-title">Make Appointment</h2>
                </div>
                <label class="cs-label">
                    Name
                    <input class="cs-input" required type="text" id="name-1093" name="name" placeholder="Name">
                </label>
                <label class="cs-label">
                    Phone
                    <input class="cs-input" required type="number" id="phone-1093" name="phone" placeholder="Phone">
                </label>
                <label class="cs-label">
                    Email
                    <input class="cs-input" required type="email" id="email-1093" name="email" placeholder="Email">
                </label>
                <label class="cs-label cs-message">
                    Message
                    <textarea class="cs-input cs-textarea" required name="Message" id="message-1093" placeholder="Write message..."></textarea>
                </label>
                <button class="cs-button-solid cs-submit" type="submit">Make An Appointment</button>
            </form>
            <!--Background image, background image set in CSS at 1500px-->
            <picture class="cs-background">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic16.jpg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic16.jpg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/mechanic16.jpg" alt="mechanic" width="841" height="877">
            </picture>
        </div>
        <div class="cs-content">
            <img class="cs-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/red-quotes.svg" alt="quotes" width="73" height="60" aria-hidden="true">
            <span class="cs-topper">Testimonials</span>
            <h2 class="cs-title">Trusted by Thousand of People 
                & Companies</h2>
            <p class="cs-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Obcaecati similique recusandae sequi quas nobis error voluptatum, corrupti in natus laborum vel dignissimos alias. Voluptate provident maiores, ducimus amet repellat optio.
            </p>
            <div class="cs-review-group">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/person9.jpg">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/person9.jpg">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/person9.jpg" alt="person" width="179" height="202">
                </picture>
                <div class="cs-flex">
                    <p class="cs-review-text">
                        When you think about collecting customer feed back, it’s easy to get overwhelmed by the sheer volume of . With so many more customers and so many ways to connect with their feedback it’s hard to know to where to start.
                    </p>
                    <span class="cs-name">George Thomas</span>
                    <span class="cs-desc">Founder Of Yokoloko</span>
                </div>
            </div>
        </div>
    </div>
</section>
                                
    {% include 'components/cta.html' %}
{% endblock %}